<div data-role="view" data-layout="main" data-title="Home" data-model="APP.models.home" data-reload="true" data-stretch="false" data-use-native-scrolling="true" data-zoom="false" data-before-show="makeIframe">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" align="center">
    <tr>
      <td>
        <a id="NewLink" data-role="listview-link" href="../views/new.html">
        </a>
      </td>
      <td>
        <a id="DesignersLink" data-role="listview-link" href="../views/designers.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2" id="HomeCarouselLink">
        <div id="owl-carousel" class="owl-carousel">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="KledingLink" data-role="listview-link" href="../views/kleding.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="SchoenenLink" data-role="listview-link" href="../views/schoenen.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="TassenLink" data-role="listview-link" href="../views/schoenen.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="AccessoiresLink" data-role="listview-link" href="../views/accessoires.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="LingerieLink" data-role="listview-link" href="../views/lingerie.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="BeautyLink" data-role="listview-link" href="../views/beauty.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="InspiratieLink" data-role="listview-link" href="../views/inspiratie.html">
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <a id="SaleLink" data-role="listview-link" href="../views/sale.html">
        </a>
      </td>
    </tr>
  </table>
</div>


<script>
  function makeIframe(e) {
    var iframe = $('<iframe />', {
      id: 'contentIframe',
      height: '230px',
      width: '100%',
      src: 'https://m.perfectlybasics.nl/index.aspx',
      frameborder: '0'
    });

    var html = $('.iframeContent');
    html.append(iframe);


    //Build imagelinks Home page
    $('#NewLink').append(window.imgNew);
    $('#DesignersLink').append(window.imgDesigners);
    $('#KledingLink').append(window.imgKleding);
    $('#SchoenenLink').append(window.imgSchoenen);
    $('#TassenLink').append(window.imgTassen);
    $('#AccessoiresLink').append(window.imgAccessoires);
    $('#LingerieLink').append(window.imgLingerie);
    $('#BeautyLink').append(window.imgBeauty);
    $('#InspiratieLink').append(window.imgInspiratie);
    $('#SaleLink').append(window.imgSale);
  }



  $(document).ready(function () {

    // INIT SLIDE CAROUSEL
    $(".owl-carousel").owlCarousel({
      margin: 10,
      dots: true,
      items: 4,
      dotsEach: false
    });
  });
</script>