<div data-role="view" data-layout="seperateView" data-show="changeTitle" data-model="APP.models.inspiratie" data-reload="true"
     data-stretch="false" data-use-native-scrolling="true" data-zoom="false" data-after-show="makeIframe">

  <div class="iframeContent"></div>
</div>

<script>
  function makeIframe(e) {
    var iframe = $('<iframe />', {
      id: 'contentIframe',
      height: screen.height - 47 + 'px',
      width: '100%',
      src: window.inspiratieUrl,
      frameborder: '0'
    });
      
    e.view.element.find('.km-native-scroller').find('div').append(iframe);
  }

  function changeTitle() {
    $('.km-view-title').find('span').text(window.inspiratieNavTitle);
  }

</script>