<div data-role="view" data-layout="seperateView" data-model="APP.models.schoenen" data-reload="true"
     data-stretch="false" data-use-native-scrolling="true" data-zoom="false" data-after-show="makeIframe">

  <div class="iframeContent"></div>
</div>

<script>
  function makeIframe(e) {
    var iframe = $('<iframe />', {
      id: 'contentIframe',
      height: screen.height - 47 + 'px',
      width: '100%',
      src: window.schoenenUrl,
      frameborder: '0',
      onload: 'iframeLoaded();'
    });

    var html = $('.iframeContent');
    html.append(iframe);
    html.spin('small');
  }

  function iframeLoaded() {
    $('.iframeContent').spin(false);
  }

  setInterval(function () {
    $('.km-view-title').find('span').text(window.navTitle);

  }, 100);

</script>